.header-nav {
  display: flex;
  list-style-type: none;
  gap: 20px;
}

.nav-item {
  text-decoration: none;
  color: black;
  font-size: 25px;
  padding-bottom: 6px;
}

.nav-item.active {
  border-bottom: 1px solid black;
}
