.product-card {
  position: relative;
  border: 1px solid #5a5a5a;
  border-radius: 12px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  height: 560px;
}

.product-card a {
  text-decoration: none;
}

.product-title,
.product-description {
  color: #333;
}

.product-price {
  color: #333;
  font-size: 18px;
}

.product-image {
  width: 100%;
  height: 300px;
  object-fit: contain;
  margin-bottom: 10px;
}

.product-title {
  text-align: center;
  height: 60px;
  margin: 0;
}

.product-actions {
  position: absolute;
  bottom: 13px;
  display: flex;
  gap: 10px;
}

.product-actions button {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  font-size: 20px;
  background: #fff;
  cursor: pointer;
  border: 1px solid #5a5a5a;
}

.like-button,
.delete-button {
  transition: all 0.3s;
}

.like-button:active {
  transform: scale(0.95);
}

.delete-button:active {
  transform: scale(0.95);
}

.like-button.liked {
  background: #fdb6dd;
  transform: scale(1.2);
}
